.DS_Store
.ipynb_checkpoints
node_modules
/pip_test
/_python_build
*.pyc
__pycache__
tmp
protos/*_pb2.py
*.png


checkpoint
*.tfevents.*
*.pbtxt
*.data-*
*.meta
*.index
*.ckpt
*.txt
*.pb

*.pkl

.vscode/
datasets/
eval_gta_log/
eval_logs/
experiments.sqlite
mobilenet_trained/
old_gta_eval/
pspnet_trained/
remote/
train_gta_log/
train_logs/

*.sqlite*